body{
  background-color: white;
}

button{
  background-color: white;
  font-size: 16px;
  width:50px;
  height: 50px;
  margin: 8px;
  border-radius: 5px;
}
.calculadora{
  font-family: cursive;
  display: block;
  margin: 80px;
  padding: 20px;
  background-color: tomato;
  width: 400px;
  height: 500px;
  border-radius: 20px;
}
#display{
  display: block;
  text-align: center;
  width:260px;
  height: 60px;
  background-color: white;
  /* overflow-y: scroll; */
}
#cero{
  width:120px;
  height: 50px;
}
#igual{
  width:120px;
  height: 50px;
}
