body{
  background-color: #1D397C;
  margin: 20px 0px 20px 20px;
  padding-top: 20px;
  font-family: cursive;
  color: white;
}

h2{
  position: relative;
  left: 140px;
  padding-bottom: 0px;
}

input{
  margin: 5px;
  padding: 5px;
  position: relative;
  top: 10px;
}

img{
  border: 8px solid #032DCB;
  margin: 10px;
}

canvas{
  border: 8px solid #6BF400;
  margin: 10px;
}

.inicial_img{
  margin: 0px 20px 0px 20px;
  float: left;
}

.final_img{
  margin: 0px 0px 0px 0px;
}

button{
  background-color: #515458;
  border-style: groove;
  font-family: cursive;
  text-align: center;
  color: white;
  margin: 10px;
  font-size: 15px;
  width: 140px;
  height: 40px;
  position: relative;
  left: 35%;
}

.filtros{
 border: 8px solid #363A3E;
 background-color: rgba(255, 255, 255, 0.15);
 padding: 40px;
 margin: 0px;
}

.valores{
  position: relative;
  left: 42%;
  margin-bottom: 10px;
}
#valueR, #valueG, #valueB{
  position: relative;
  left: 6%;
}
