body{
   background-color: #2E2E55;
  margin: 40px 0px 40px 40px;
  padding-top: 20px;
  font-family: cursive;
  color: white;
}

h2{
  position: relative;
  left: 140px;
  padding-bottom: 0px;
}

p{
  font-size: 20px;
}

input{
  margin: 5px;
  padding: 5px;
  position: relative;
  top: 10px;
}

img{
  border: 8px solid #032DCB;
  margin: 10px;
}

canvas{
  border: 8px solid #6BF400;
  margin: 10px;
  float: left;
}

button{
  background-color: #515458;
  border-style: groove;
  font-family: cursive;
  text-align: center;
  color: white;
  margin: 15px;
  font-size: 15px;
  width: 140px;
  height: 40px;
  position: relative;
  left: 43%;
  border: 1px solid #FEFEFE;
  border-radius: 6px;
  box-shadow: 0px 5px 0px #FEFEFE;
}

#valueR, #valueG, #valueB{
  position: relative;
  left: 4%;
}

.valores{
  position: relative;
  left: 25%;
  margin-bottom: 10px;
}
