body{
  background-image: url("ppong.gif");
  /* background-color: white; */
}

@font-face {
  font-family: "p1";
  src : url( "p1.ttf" );
}

button{
  width: 70px;
  height: 20px;
  background-color: black;
  border-radius: 40px;
  margin-right: 90px;
  float: left;
}
.instrucciones{
  background-color: rgba(255, 255, 255, 0.75);
  padding: 20px 20px 20px 20px;
  margin: 25px;
}
.juego{
 background-color: #E1B41D;
 padding: 40px 0px 0px 60px;
 width: 660px;
 height: 1000px;
 margin-left: auto;
 margin-right: auto;
 border-radius: 10px 10px 90px 90px;
}

.titulo{
  background-color: black;
  width: 600px;
  height: 70px;
  border-radius: 30px;
  position: relative;
  top: -40px;
}

img{
  width: 300px;
  height: 50px;
  position: relative;
  left: 150px;
}

#canvas{
  background-color: black;

}

h1{
  font-family: "p1";
  position: relative;
  left: 220px;
}

h2{
  font-family: "p1";
}

p{
  font-family: "p1";
  line-height: 40px;
  font-size: 20px;
}
