body{
  font-family: "typewrite";
  text-align: center;
  background-image: url('7.jpg');
  font-size: 30px;
}

 @font-face {
  font-family: "typewrite";
  src : url( "Typewriter dry Bold.otf" );
}

.v1, .v2, .v3{
  float: left;
}

#video1, #video2, #video3{
  /* top - right - down - left */
  margin: 20px 20px 10px 20px;
}

#boton1, #boton2, #boton3, #bucle{
  background: rgba(255, 255, 255, 0.7);
  height: 45px;
  width: 100px;
  font-family: "typewrite";
  font-size: 18px;
  margin: 20px;
}

#crono{
  /* top - right - down - left */
  margin: 20px 240px 20px 240px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.4);
}
